<%= form.hidden_field "#{tag_name}_list".to_sym %>  
<ul class="form-list tags" id="<%= tag_name %>-tags">
  <li>
    <div id="<%= tag_name %>s">
      <label><%= tag_name.capitalize %>s:</label>
      <div>
      <% existing_tags.each do |c| %>
        <span class="tag"><a name="<%= c %>"><%= c %></a></span>
      <% end %>
      </div>
    </div>
  </li>
  <li>
    <div id="available-<%= tag_name %>s">
      <label>Available <%= tag_name.capitalize %>s:</label>
      <div>
      <% existing_tags.each do |c| %>
        <span><a class="add-tag" name="<%= c %>"><%= c %></a></span>
      <% end %>
      </div>
    </div>
  </li>
  <li>
    <div id="add-<%= tag_name%>-wrap">
      <label>Add <%= tag_name.capitalize %>:</label> <input id="add-<%= tag_name %>" /> <a class="button" id="add-<%= tag_name %>-button">Add</a>
    </div>
  </li>
</ul>
